* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-indent: 10px;
    outline: none;
} 

body {
    display: flex;
    justify-content: center;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 500px;
    margin-top: 50px;
    border: 1px solid;
}

.main {
    width: 100%;
    height: 400;
    display: flex;
}

.chat-window {
    width: 80%;
    height:400px;
    border-bottom: 1px solid;
    word-break: break-all;
    overflow:auto;
}

.users-active {
    display: flex;
    flex-direction: column;
    height:400px;
    width: 20%;
    border: 1px solid;
    border-right: none;
    border-top: none;
    overflow:auto;
}

.active{
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px;
}
.pointer{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(37, 192, 37);
    border: none;
    margin-left: 10px;
    opacity: 1;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.message-area {
    max-height: 90px;
    max-width: 300px;
    margin: 0 25px 0 25px;
}

.name {
    height: 20px;
}

.send {
    padding: 10px 15px;
    text-indent: 0px;
    border-radius: 5px;
    background-color: chartreuse;
    border: none;
}

.message{
    padding: 10px;
    background-color: chartreuse;
    max-width: 300px;
    margin: 20px;
    border-radius: 5px;
    display: block;
}

.myMessages{
    margin: 50px 20px 50px 635px;
    padding: 10px;
    background-color: rgb(30, 144, 210);
    display: block;
    border-radius: 5px;
    max-width: 300px;
}
